nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    a.navbar-brand(href="/")
     .row.justify-content-between
      .col-sm-1
       img.mr-2(src="images/icono_ispedib.ico")
      .col-sm-10.align-self-center
       | Matriculaciones ISPIB MBR
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNavAltMarkup
      .navbar-nav
        a.nav-link.active(aria-current="page", href="/") Inicio
        a.nav-link(href="/acerca") Acerca
        a.nav-link(href="/carreras") Carreras