include ../partials/head.pug
body
include ../partials/navegacion_inicio.pug
.container-fluid.mt-4
 h1.mb-4 Carreras
 .row.bg-light.m-3.align-items-center
  .col-12.col-md-8.text-justify
   h2.text-primary.ml-3 Automatización e Instrumentación
   p.m-4  Esta carrera se enfoca en el ámbito tecnológico, tratando
         | temas desde circuitos eléctricos básicos hasta la complejidad
         | del analisis de las corrientes alternas en el mundo real,
         | pasando por electrónica analógica y digital, abriendonos paso
         | a través de entornos de programación, desde arduino hasta
         | la configuración de un entorno de comunicación interconectando
         | diferentes dispositivos de control (PLC). La carrera de
         | automatización te enseña y abre paso a un mundo de infinitas
         | posibilidades.
  .col-12.col-md-4.text-center
   img(src="images/brazo_robotico.jpg", widht="150px", height="150px")
 .row.bg-light.m-3.align-items-center
  .col-12.col-md-8.text-justify
   h2.text-primary.ml-3 Monitoreo Ambiental
   p.m-4  En la mayoría de ecosistemas en los que el ser humano interviene hay aspectos que pueden alterar su correcto equilibrio: sustancias nocivas, especies que se extinguen, alteraciones en la calidad del suelo y una largo etcétera de factores, la mayoría de ellos relacionados con la contaminación. Para que los distintos ecosistemas se mantengan dentro de unos parámetros de seguridad y no haya consecuencias negativas para la salud y la productividad, es necesario establecer sistemas de monitoreo ambiental.
  .col-12.col-md-4.text-center
   img(src="images/mundo_monitoreo.jpeg", widht="150px", height="150px")
 .row.bg-light.m-3.align-items-center
  .col-12.col-md-8.text-justify
   h2.text-primary.ml-3 Desarrollo Infantil Integral
   p.m-4  El desarrollo infantil o crecimiento del niño se puede describir por un lado como un crecimiento y desarrollo afectivo o emocional y por otro un desarrollo y crecimiento cognitivo - biológico. Ambos tipos de crecimiento van a influenciarse el uno con el otro y van a tener un desarrollo que no es lineal, sino que se basa en crisis, períodos de evolución y regresión
  .col-12.col-md-4.text-center
   img(src="images/niños.jpg", widht="150px", height="150px")
 .row.bg-light.m-3.align-items-center
  .col-12.col-md-8.text-justify
   h2.text-primary.ml-3 Mecánica Industrial
   p.m-4  Es el conjunto de procesos mediante los cuales se construyen piezas mecánicas, mecanismos y máquinas, además ejecuta el mantenimiento de los sistemas industriales, empleando máquinas-herramientas, soldadura y trabajo de banco. La Mecánica Industrial está vinculada con el mecanizado de piezas que es un proceso de fabricación que comprende un conjunto de operaciones de conformación de piezas mediante la eliminación de material por arranque de viruta en máquinas herramientas.
  .col-12.col-md-4.text-center
   img(src="images/mecanica.png", widht="150px", height="150px")
 .row.bg-light.m-3.align-items-center
  .col-12.col-md-8.text-justify
   h2.text-primary.ml-3 Mecatrónica
   p.m-4  El concepto demecatronica de define como una disciplina integradora de las áreas de mecánica, electrónica e informática cuyo objetivo es proporcionar mejores productos, procesos y sistemas. La mecatronica enfatiza la necesidad de integración entre diferentes áreas de la ingeniería, por tanto es independiente y es capaz de competir con más disciplinas que están basadas en este campo de la tecnología e innovación lacual al integrar la mecánica, la electrónica y la informática o software da soluciones a problemas de tipo más complejo.
  .col-12.col-md-4.text-center
   img(src="images/mecatronica.jpg", widht="150px", height="150px")
 .row.bg-light.m-3.align-items-center
  .col-12.col-md-8.text-justify
   h2.text-primary.ml-3 Seguridad y Prevención de Riesgos
   p.m-4  La seguridad industrial tiene como objetivo proteger la vida y preservar el bienestar de la salud del trabajador, así como su integridad física, de acuerdo con estándares diseñados para garantizar las condiciones de trabajo; por medio de la capacitación y prevención de enfermedades y accidentes laborales.
  .col-12.col-md-4.text-center
   img(src="images/seguridad.jpg", widht="150px", height="150px")
 .row.bg-light.m-4.align-items-center
  .col-12.col-md-8.text-justify
   h2.text-primary.ml-3 Soldadura
   p.m-4  La primera acepción del término soldadura que se menciona en el diccionario de la Real Academia Española (RAE) refiere al proceso y el resultado de soldar: establecer una unión sólida entre dos cosas con un material que resulte similar o el mismo que el de ellas. En un sentido más amplio, soldar consiste en enmendar o reparar algo.
  .col-12.col-md-4.text-center
   img(src="images/soldadura.jpg", widht="150px", height="150px")
include ../partials/footer.pug