include ../partials/head.pug
body
include ../partials/navegacion_inicio.pug
.container-fluid.mb-5.mt-4
 .row.align-items-center(style="background-color:#2E4053")
  .col-12.col-sm-12.col-md-4.text-center.p-5(style="height: 100%; color:#FFC300")
   h1.p-4 ¿Qué es este sitio web? 
  .col-12.col-sm-12.col-md-8.text-center.p-5(style="height: 100%; background-color:#FFC300; color:#2E4053")
   p.p-5 Este sitio es una aplicación web creada para el ISPIB Martha Bucaram de Roldós, 
        |desarrollada como trabajo de titulación por parte de uno de los tesistas de la carrera
        |de <strong> Automatización e Instrumentacion</strong>, con el objetivo de facilitar
        |el proceso de matriculación de toda persona que tenga la motivación y ganas de dar 
        |un paso adelante en su desarrollo profesional.
        |Esta aplicación permitirá a los estudiantes almacenar y tener a disposición toda la
        |información relacionada a sus diferentes matriculas en el transcurso de su carrera.
br.m-5
include ../partials/footer.pug
